body,
html {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(181, 197, 197);
    font-family: "Poppins", sans-serif;
}

.tablet-simulation {
    width: 800px;
    height: 600px;
    background-color: rgb(239, 241, 242);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    display: flex;
    border-radius: 15px;
}

.left-container {
    width: 70%;
    height: 100%;
    background-image: url('../resources/bg-house2.png');
    display: flex;
    flex-direction: column;
}

.right-container {
    width: 30%;
    background-color: rgb(255, 255, 255);

}

/* RIGHT PART OF SCREEN */

/* right top controls */
.top-controls {
    display: flex;
    height: 10%;
    justify-content: space-around;
    gap: 5rem;
    padding: 5px;
    align-items: center;
    margin-left: 8px;

}

.temp-switch-container {
    height: 30px;
    width: 40px;
}

#temp-switch-button {
    color: rgb(110, 106, 106);
    box-shadow: 0 0 20px rgba(129, 126, 126, 0.171);
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    font-size: 0.9rem;
}

#profile-container {
    height: 40px;
    padding: 7px;
    display: flex;
    gap: 0.5rem;
}

#profile-container img {
    border-radius: 50%;
}

/* title */

.title {
    margin-top: 2.8rem;
    font-size: 1.2rem;
    padding: 0 20px;
}

.title p {
    font-size: 1.5rem;
    line-height: 1.2;
}

/* inside temp */
.inside-temp-container {
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1.7rem;
    line-height: 1;
}

.celsius-container {
    display: flex;
}

#inside-temp-text {
    font-size: 0.9rem
}

#inside-temp {
    font-size: 5rem;
    font-weight: 500;
    color: rgb(24, 52, 90);
    text-shadow: 0px 6px 3px rgba(0, 0, 0, 0.26);
    display: inline-block;
}

#inside-celsius {
    margin: 0;
    font-size: 2rem;
    vertical-align: super;
    position: relative;
    top: -0.2em;
    
}

/* more temp info */
.more-temp-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    font-size: 0.8rem;
}

.outside-temp {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 10px;
}

.outside-temp-icon {
    display: flex;
    gap: 3px;
    padding-right: 18px;
}

#outside-temp-icon-image {
    height: 18px;

}

.humidity {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.humidity-icon {
    display: flex;
    gap: 3px;
}

#humidity-icon-image {
    height: 15px;

}

.more-temp-desc {
    font-size: 0.7rem;
}

#filler-text {
    font-size: 0.9rem;
    margin-left: 5px;
    padding: 0 10px;
}

.calendar {
    display: flex;
    gap: 2px;
    margin-bottom: 1rem;
    padding: 0 10px;
}

.calendar-days {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    margin: 0 auto;
    padding: 5px 5px;
    border-radius: 20px;
}

.calendar * {
    font-size: 0.68rem;
    line-height: 1.2;
    text-align: center;
}

.day-of-week {
    font-size: 0.5rem;
}

.current-day {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.filler-control {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 120px;
    padding-left: 20px;   
    margin-left: 10px;
}

.filler-spec-con {
    flex-grow: 1;
    background-color: #e2e2eb;
    border-top-left-radius: 15px;   
    border-bottom-left-radius: 15px;
    padding: 10px;
}

.filler-spec-con > .main-text {
    font-size: 0.85rem;
    color: rgb(44, 43, 43);
  
}

.filler-spec-con > .sub-text {
    font-size: 0.6rem;
    color: rgb(70, 69, 69);
}







/* LEFT PART OF SCREEN */

/* user info top left */

.left-top-controls {
    height: 15%;
    display: flex;
    align-items: center;
}

#house-image-container {
    height: 50px;
    width: 60px;
    margin: 1rem;
}

#gray-house {
    height: 100%;
    border-radius: 15px;
}

.home-info h3 {
    font-weight: 500;
    letter-spacing: 1px;
}

.home-info p {
    font-size: 0.8rem;
}

.time-info {
    margin-left: auto;
    padding-right: 20px;
    text-align: end;
    padding-bottom: 6px;
    ;
}

#current-time {
    font-size: 1.4rem;
    letter-spacing: 1px;
    ;
}

#current-date {
    font-size: 0.8rem;
}

#current-seconds {
    font-size: 1.2rem;
    color: rgb(102, 92, 92);
}

/* system controls */

.system {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0 20px;
    margin-top: 12px;
}

.system-button,
.fan-button {
    height: 60px;
    width: 160px;
    background-color: rgba(255, 255, 255, 0.534);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.041);
    border-radius: 15px;
    display: flex;
    align-items: center;
    padding: 0 10px;
}

.system-image-container {
    height: 40px;
    width: 48px;
}

.system-image-container img {
    height: 100%;
    width: 100%;
    border-radius: 8px;
}

.system-desc {
    margin-left: 10px;
}

.system-desc-text {
    font-size: 0.8rem;
}

.system-status {
    font-weight: 500;
}

.system-button {
    cursor: pointer;
}

.cooling-off {
    background-color: lightgray;
}

.cooling-cooling {
    background-color: lightblue;
}

.cooling-heating {
    background-color: rgba(240, 128, 128, 0.877);
}

.fan-off {
    background-color: lightgray;
}

.fan-on {
    background-color: lightgreen;
}

.fan-auto {
    background-color: lightyellow;
}

/* Specific part of the house controls */
.specific-controls-container {
    display: flex;
    margin-top: auto;
}

.spec-con {
    background-color: rgb(255, 255, 255);
    height: 150px;
    width: 150px;
    margin-bottom: 15px;
    margin-left: 15px;
    padding: 5px;
    border-radius: 15px;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.spec-con-image-container {
    height: 70px;
    width: 190px;
}

.living-room {
    background:
        linear-gradient(to bottom, rgb(255, 255, 255) 15%, rgba(255, 255, 255, 0)),
        url("../resources/living-room.jpg");
    background-size: cover;
    background-position: center;
}

.kitchen {
    background:
        linear-gradient(to bottom, rgb(255, 255, 255) 15%, rgba(255, 255, 255, 0)),
        url("../resources/kitchen.jpg");
    background-size: cover;
    background-position: center;
}

.master-bedroom {
    background:
        linear-gradient(to bottom, rgb(255, 255, 255) 15%, rgba(255, 255, 255, 0)),
        url("../resources/master-bedroom.jpeg");
    background-size: cover;
    background-position: center;
}

.spec-con-temp {
    margin: 4px 0 18px;
    font-size: 2.2rem;
    color: rgb(80, 77, 77);
}

.spec-con-controls-container {
    display: flex;
    gap: 2.5rem;
}

.spec-con-controls-container img {
    filter: brightness(9);
    opacity: 0.7;
}